.login legend img {
    width: 100%;
}

.login form {
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 200px);
}

@media (max-width: 600px) {
    .login form {
        width: calc(100% - 32px);
    }
}

@media (min-width: 601px) {
    .login form {
        width: calc(600px - 32px);
        left: calc(50% - 284px);
    }
}

.login form input {
    background-color: white;
}

.login form > legend {
    width: 50%;
    margin: 32px auto;
}

.login form > * {
    width: 100%;
}

.login form > button {
    margin-top: 32px;
}