.side-bar {
    height: 100%;
    width: 256px;
    float: left;
    background-color: #2B2F36;
}

.side-bar ul {
    padding: 0;
}

.side-bar li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    color: white;
}