.app {
    height: 100%;
}

.main-section {
    width: calc(100% - 256px);
    height: 100%;
    float: left;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: block;
    height: 64px;
    margin: 0 auto;
    padding: 22px 0;
    box-sizing: border-box;
}