@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

#root {
  background-color: #FAFAFA;
}

#root > section {
	height: 100%;
	position: relative;
	width: 100%;
}

::-webkit-scrollbar {
    width: 4px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #E71469;
}